CVS
.#*

.hg
.hgignore

TestResults
*.cvsignore

*filtered.json
*Trigger*.json
.DS_Store
AK5*
*.so
*.cxx
*.csh
*.old
*.log
*.out
*.cache
*.root
*.pdf
*.o
*.d
.svn
*.pyc
*.so
*.cxx
*.json
*__susyjob__*
*.pyc
*.cxx
*.so
*.sh
*.csh
__susyJob__*
*.sh
*.inc
*.csh
